/**
 * Sharing styles
 * Loads on front end and back end
 */

.dggb-block-sharing {
  margin: 0 0 1.2em 0;
  position: relative;

  .blocks-rich-text {
    display: inline-flex;
  }

  .dggb-share-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      margin: 0 5px 5px 0;
    }

    a {
      background: #272c30;
      color: #fff;
      padding: 10px 15px;
      text-align: center;
      display: block;
      line-height: 1;
      font-size: 16px;
      transition: 0.3s ease;

      &:hover {
        box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.15);
      }
    }
  }

  &.dggb-share-icon-text {
    i {
      margin-right: 5px;
    }
  }

  &.dggb-share-icon-only {
    a {
      padding: 10px 11px;
      min-width: 37px;
    }

    .dggb-social-text {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      width: 1px;
      word-wrap: normal !important;
    }
  }

  &.dggb-share-text-only {
    i {
      display: none;
    }
  }

  &.dggb-share-shape-square {
    a {
      border-radius: 0;
    }
  }

  &.dggb-share-shape-rounded {
    a {
      border-radius: 5px;
    }
  }

  &.dggb-share-shape-circular {
    a {
      border-radius: 100px;
    }
  }

  &.dggb-share-size-small {
    a {
      font-size: 13px;
    }
  }

  &.dggb-share-size-small.dggb-share-icon-only {
    a {
      padding: 7px 6px;
      min-width: 28px;
    }
  }

  &.dggb-share-size-medium {
    a {
      font-size: 16px;
    }
  }

  &.dggb-share-size-large {
    a {
      font-size: 20px;
    }
  }

  &.dggb-share-size-large.dggb-share-icon-only {
    a {
      font-size: 26px;
      min-width: 48px;
    }
  }

  &.dggb-share-size-large.dggb-share-icon-text {
    i {
      margin-right: 10px;
    }
  }

  &.dggb-share-color-social {
    a {
      color: #fff;
    }

    .dggb-share-twitter {
      background: #1ca1f3;
    }

    .dggb-share-facebook {
      background: #3b5999;
    }

    .dggb-share-google {
      background: #dc4b45;
    }

    .dggb-share-pinterest {
      background: #bd091c;
    }

    .dggb-share-linkedin {
      background: #0077b5;
    }

    .dggb-share-reddit {
      background: #ff4500;
    }
  }
}

.dggb-button-right {
  transform: translateX(-100%);
  left: 100%;
  position: relative;
}

.dggb-button-center {
  margin: 0 auto;
}
